@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #ededed;
}

.logo {
  cursor: default;
}
/*-----------------------Home-page-------------------------------------------*/
.home-page{
  height: 100vh;
  overflow-y: scroll;
  background-color: #57b9bf;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background-image: url("Grado.JPG");
  background-size: cover;
}

.home-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

.home-content h2 {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}

.info {
  font-size: 10px;
  font-weight: 300;
  color: red;
}
.strack {
  width: 170%;
  height: 3px;
  background-color: #FFF146;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5dvh;
  border-radius: 2px;
}
@media only screen and (max-width: 700px) {
  .strack {
    margin-top: 15dvh;
    width: 130%;
  }
}

.box {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);}

  .custom-shape-divider-top-1694971635 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: ;
}

.honungs {
  position: relative;
  
}



.custom-shape-divider-top-1694971635 svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 390px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1694971635 .shape-fill {
    fill: #fdff3b;
    
}


/*---------------Portfolio------------------------------*/


.grid {
	position: relative;
	margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  z-index: -1;
  top: 280px;
  background-color: #57b9bf;
  
}


.grid__item {
	width: 320px;
	padding: 10px;
  
}


.img-wrap {
	display: block;
}


.img-wrap img {
	display: block;
	height: 500px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1350px) {
  .grid {
    grid-template-columns: auto auto auto ;
  }
}
@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 700px) {
  .grid {
    grid-template-columns: auto;
  }
}


/*------------------------porfolio-slut----------------------*/